<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title  color="light">
      RimTrans
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
  
    <img  src="/assets/logo.png"  padding  >
    <div class="slogan">
      <h1><span>S</span>écurisé, <span>E</span>fficace et <span>R</span>apide.</h1>
      </div>
   
  <ion-footer>
    <ion-row>
           <ion-col>
             <ion-button color="primary" expand="full" color="primary" (click)="login()">se connecter</ion-button>
           </ion-col>
          
         </ion-row>
   </ion-footer>
</ion-content>
